@model IEnumerable<DemoASP.Models.StudentVM>
@{
    ViewData["Title"] = "Students";
}

<a class="btn btn-dark" href="~/Groups/ShowAddStudentForm">Add student</a>


<table class="table">
<thead>
<tr>
    <th >id</th>
    <th >First Name</th>
    <th >Last Name</th>
    <th >Middle Name</th>
    <th >Group</th>
    <th >Actions</th>
</tr>
</thead>
<tbody>
@foreach (var stud in Model)
{
    <tr>
        <th >@stud.Id</th>
        <th >@stud.FirstName</th>
        <th >@stud.MiddleName</th>
        <th >@stud.LastName</th>
        <th >@stud.GroupName</th>
        <th >
            <a class="btn btn-info" href="~/Students/Show/@stud.Id">More</a>
            <a class="btn btn-dark" href="~/Students/Edit/@stud.Id">Edit</a>
            <a class="btn btn-danger" href="~/Students/Delete/@stud.Id">Delete</a>
        </th>

    </tr>
}
</tbody>
</table>